# 파이썬 실습

## Jupyter
> 쥬피터 노트북으로 실습하겠습니다.
- 파이썬 기본내용 리뷰
- 패키지 학습

### practice

- practice1
- practice2
- practice3

In [6]:
print('hello jupyter!!!')

hello jupyter!!!

In [2]:
print(4+5)

9

In [3]:
x = 6+7
x

13

In [4]:
'쥬피터에서 프린트하지 않아도 마지막 한줄은 바로 출력됩니다'

'쥬피터에서 프린트하지 않아도 마지막 한줄은 바로 출력됩니다'

In [12]:
print('안녕하세요!\n반갑습니다.')

안녕하세요!
반갑습니다.

In [14]:
print('''
빅데이터 과정에서 만나서
반갑습니다.
끝까지 화이팅하세요!!''')

빅데이터 과정에서 만나서
반갑습니다.
끝까지 화이팅하세요!!

In [15]:
a=10
b=20
ret=a+b
print('A와 B를 더한 값은', end='')
print(ret, end='')
print('입니다.')

A와 B를 더한 값은30입니다.

In [16]:
apple_price = 500
apple_count = 7
print('사과 7개의 가격은'+str(apple_price*apple_count)+'원입니다.')

사과 7개의 가격은3500원입니다.

In [17]:
name=input('이름을 입력하세요.')
welcome=name+'님, 어서오세요.'
print(welcome)

이름을 입력하세요.오오리
오오리님, 어서오세요.

In [20]:
c1 = 1+7j
print(c1.real); print(c1.imag)
c2 = complex(2,3)
print(c2)

1.0
7.0
(2+3j)

In [21]:
num_a = 100
num_b = 200
if num_a == num_b:
    print('숫자A와 숫자B는 같습니다.')
else:
    print('숫자A와 숫자B는 같지 않습니다.')

숫자A와 숫자B는 같지 않습니다.

In [22]:
if num_a > num_b:
    print('숫자A가 더 큰수입니다.')
else:
    print('숫자B가 더 큰수입니다.')

숫자B가 더 큰수입니다.

In [23]:
if num_a > num_b:
    print('숫자A가 더 큰수입니다.')
    max = num_a
elif num_a < num_b:
    print('숫자B가 더 큰수입니다.')
    max = num_b
else:
    print('숫자A와 숫자B는 같습니다.')
    
    
print('숫자A와 숫자B 중 최대값은', max, '입니다.')

숫자B가 더 큰수입니다.
숫자A와 숫자B 중 최대값은 200 입니다.

In [28]:
scope=['A', 'B', 'C', 'D', 'E']
for x in scope:
       print(x)

A
B
C
D
E

In [29]:
scope = '일이삼사오'
for x in scope:
    print(x)

일
이
삼
사
오

In [30]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x < 3:
        continue
    else:
        break

1
2
3

In [33]:
scope = [1,2,3]
for x in scope:
    print(x)
    break
else:
    print('perfect')

1

In [34]:
animals = ['dog','cat','sheep','duck','cow']

In [35]:
animals[0]

'dog'

In [36]:
animals[1:4]

['cat', 'sheep', 'duck']

In [37]:
animals[:]

['dog', 'cat', 'sheep', 'duck', 'cow']

In [38]:
animals[::2]

['dog', 'sheep', 'cow']

In [39]:
animals[-1]

'cow'

In [40]:
animals[::-1]

['cow', 'duck', 'sheep', 'cat', 'dog']

In [41]:
for animal in animals:
    print(animal)

dog
cat
sheep
duck
cow

In [42]:
size = len(animals)
for i in range(size):
    animal = animals[i]
    print(animal)

dog
cat
sheep
duck
cow

In [43]:
beast = set(["lion","tiger","wolf","tiger","lion"])

In [44]:
beast

{'lion', 'tiger', 'wolf'}

In [45]:
data = set('abracadabra')
data

{'a', 'b', 'c', 'd', 'r'}

In [46]:
data = sorted(data)
data

['a', 'b', 'c', 'd', 'r']

In [48]:
customer = {
    "name":"김진수",
    "gender":"남자",
    "email":"bigpycraft@gmail.com",
    "company":"빅파이크래프트",
    "address":"서울시 노원구 월계로"
}

In [49]:
customer.keys()

dict_keys(['name', 'gender', 'email', 'company', 'address'])

In [50]:
for something in customer:
    print(something)

name
gender
email
company
address

In [51]:
for key in customer:
    value=customer[key]
    print('%s ==> %s' % (key,value))

name ==> 김진수
gender ==> 남자
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로

In [52]:
'%s, %s' % ('hello', '김진수')

'hello, 김진수'

In [53]:
'{name}:{greeting}, {name}'.format(greeting = '안녕하세요.', name = '김진수')

'김진수:안녕하세요., 김진수'

In [56]:
for key, value in customer.items():
    print(key, '==>', value)

name ==> 김진수
gender ==> 남자
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로

In [55]:
for something in customer.items():
    print(something)

('name', '김진수')
('gender', '남자')
('email', 'bigpycraft@gmail.com')
('company', '빅파이크래프트')
('address', '서울시 노원구 월계로')

In [59]:
for key, value in customer.items():
    print("{key}==>{value}".format(key  = key, value = value))

name==>김진수
gender==>남자
email==>bigpycraft@gmail.com
company==>빅파이크래프트
address==>서울시 노원구 월계로

In [60]:
for key, value in customer.items():
    print("{key} {space} ==> {value}".format(
        key   = key,
        space = ' '*(7-len(key)),
        value = value,
    ))

name     ==> 김진수
gender   ==> 남자
email    ==> bigpycraft@gmail.com
company  ==> 빅파이크래프트
address  ==> 서울시 노원구 월계로

In [61]:
customer.items()

dict_items([('name', '김진수'), ('gender', '남자'), ('email', 'bigpycraft@gmail.com'), ('company', '빅파이크래프트'), ('address', '서울시 노원구 월계로')])

In [62]:
def add_text(t1,t2):
    print(t1+t2)

In [63]:
text1 = '파이썬!'
text2 = '최고!!'
add_text(text1, text2)

파이썬!최고!!

In [64]:
def add_number(n1,n2):
    result = n1+n2
    return result

In [65]:
ans = add_number(10,15)
print(ans)

25

In [66]:
def add_text(t1, t2='파이썬'):
    print(t1+' : ' +t2)

In [67]:
add_text('베스트')

베스트 : 파이썬

In [68]:
add_text(t2='대한민국',t1='1등')

1등 : 대한민국

In [69]:
def func1(*args):
    print(args)

def func2(width, height, **kwargs):
    print(kwargs)

In [70]:
func1()
func1(3,5,1,5)

()
(3, 5, 1, 5)

In [71]:
func2(10,20)
func2(10,20,depth=50,color='blue')

{}
{'depth': 50, 'color': 'blue'}

In [72]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
def func2(param):
    param=1
    
def func3():
    global param
    param=50

In [73]:
func1()
print(strdata)
print(param)

지역변수
전역변수
10

In [74]:
def add1(a,b):
    return a+b

def add2(a,b,c):
    return a+b+c

In [75]:
add1(10,20)

30

In [77]:
add2(10,20,30)

60

In [78]:
add2(10,20)

TypeError: add2() missing 1 required positional argument: 'c'

In [79]:
#2개 혹은 3개의 숫자 더하기
def add2(a,b,c=0):
    return a+b+c

In [80]:
add2(10,20)

30

In [81]:
add2(10,20,30)

60

In [82]:
#기본 자료형
def add3(numbers): # 숫자 리스트를 받아서, 합을 리턴하는 함수
    sum = 0
    for num in numbers:
        sum+=num
        
    return sum

In [83]:
add3([10,20,30,40])

100

In [84]:
add3((10,20,30,40))

100

In [85]:
add3(10,20,30,40)

TypeError: add3() takes 1 positional argument but 4 were given

In [86]:
#기본 자료형
def add4(*numbers): # 숫자 리스트를 받아서, 합을 리턴하는 함수
    sum = 0
    for num in numbers:
        sum+=num
        
    return sum

In [87]:
add4(10,20,30,40)

100

In [88]:
def add(a,b):
    return a+b
add(10,20)

30

In [89]:
data=(10,20)

In [90]:
add(data)

TypeError: add() missing 1 required positional argument: 'b'

In [91]:
add(*data)

30

In [92]:
data=10,20,30,40,50

In [93]:
add4(*data)

150

In [103]:
#*args
#**kwargs
def introduce(name, greeting):
    return "{name}님, {greeting}".format(name=name, greeting=greeting)

In [106]:
introduce_dict={
    "name":"김진수",
    "greeting":"안녕하세요"
}

In [107]:
introduce(**introduce_dict)

'김진수님, 안녕하세요'

In [108]:
(lambda x : x**2) (3)

9

In [109]:
mySquare = lambda x : x**2
mySquare(2)

4

In [110]:
mySquare(5)

25

In [111]:
mySimpleFunc = lambda x,y,z : 2*x+3*y+z

In [112]:
mySimpleFunc(1,2,3)

11

In [113]:
func = lambda x,y : x**2+2*y
func(2,3), func(3,2)

(10, 13)

In [114]:
func(2,4)

12

In [115]:
type(func)

function

In [116]:
[int(0.123), int(3.23454)]

[0, 3]

In [117]:
[float(30), float(0)]

[30.0, 0.0]

In [118]:
[str(123), str(1405)]

['123', '1405']

In [119]:
def print_name(name):
    if bool(name):
        print('입력된 이름:', name)
    else:
        print('입력된 이름이 없습니다.')
        
print_name('진수')

입력된 이름: 진수

In [120]:
print_name('')

입력된 이름이 없습니다.

In [125]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [123]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

TypeError: 'int' object is not callable

In [124]:
[abs(10), abs(-10)]

[10, 10]

In [126]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [127]:
len('ab cd')

5

In [129]:
len([1,2,3,4,5,6,7 ,8])

8

In [130]:
len((1,2,3,4,5,6,7 ,8))

8

In [131]:
len({'a','b','c','d'})

4

In [132]:
len({1:'Thomas', 2:"Edward", 3:"Henry"})

3

In [137]:
scores = [90, 80, 95, 85]

score_sum = 0
subject_num = 0
for score in scores:
    score_sum = score_sum+score #과목별 점수 모두 더하기
    subject_num = subject_num+1
    
average = score_sum / subject_num
print('통점:{0}, 평균:{1}'.format(score_sum, average))

통점:350, 평균:87.5

In [138]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [139]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95

In [136]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [140]:
class BookReader:
    name = str()
    
    def read_book():
        print(name+'is reading Book!!')

In [147]:
reader = BookReader()
redaer.name = 'Jinsoo'
reader.read_book()

NameError: name 'redaer' is not defined

In [158]:
class BookReader:
    name = str()
    
    def read_book(self):
        print(self.name +' is reading Book!!')

In [159]:
reader = BookReader()
reader.name = 'Jinsoo'
reader.read_book()

Jinsoo is reading Book!!

In [160]:
class 빵틀:
    모양 = str()    # 붕어, 잉어
    반죽 = str()     # 밀가루, 찹쌀가루
    앙꼬 = str()     # 팥, 슈크림
    단가 = int()

    def 굽기(self, 주문갯수):
        # 한번에 최대 10개씩 굽는다.
        # 한판 굽는데 걸리는 시간은 5분
        굽는횟수 = (주문갯수-1)/10 + 1
        완성시간 = int(굽는횟수) * 5
        return 완성시간

    def 가격(self, 주문갯수):
        금액 = 주문갯수 * self.단가
        return 금액
    
    def 주문(self, 주문갯수, 지불금액):
        대기시간 = self.굽기(주문갯수)
        주문금액 = self.가격(주문갯수)        
        거스름돈 = 지불금액 - 주문금액
        return 대기시간, 거스름돈

In [161]:
붕어빵 = 빵틀()
잉어빵 = 빵틀()

In [162]:
붕어빵.모양 = '붕어'
붕어빵.반죽 = '밀가루'
붕어빵.앙꼬 = '팥'
붕어빵.단가 = 300

In [163]:
잉어빵.모양 = '황금잉어'
잉어빵.반죽 = '찹쌀가루'
잉어빵.앙꼬 = '슈크림'
잉어빵.단가 = 600

In [164]:
order = 20
payment = 10000

wait_time, change = 붕어빵.주문(order, payment)
shape = 붕어빵.모양
print('{}빵 {}개를 주문하였고, {}원을 지불하였습니다.'.format(shape, order, payment))

if change == 0:
    message = '손님, {wt}분만 기다려주세요.'.format(wt=wait_time)
elif change > 0:
    message = '잔돈은 {ch}원 입니다. {wt}분만 기다려주세요.'.format(ch=change, wt=wait_time)
elif change < 0:
    message = '손님, 금액이 {ch}원 부족합니다.'.format(ch=-change)
else:
    message = 'Error'
    
print('-'*50)
print(message)

붕어빵 20개를 주문하였고, 10000원을 지불하였습니다.
--------------------------------------------------
잔돈은 4000원 입니다. 10분만 기다려주세요.

In [165]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def add_trick(self, trick):
        self.tricks.append(trick)

In [166]:
dog1 = Dog('마음이')
dog2 = Dog('진돌이')

In [167]:
dog1.add_trick('구르기')
dog2.add_trick('두발로 서기')
dog2.add_trick('죽은척 하기')

In [168]:
print(dog1.name, ':', dog1.tricks)
print(dog2.name, ':', dog2.tricks)

마음이 : ['구르기', '두발로 서기', '죽은척 하기']
진돌이 : ['구르기', '두발로 서기', '죽은척 하기']

In [169]:
# 인스턴스 변수(인스턴스간 공유 안됨)
class Cat:
    def __init__(self, name):
        self.name = name
        self.tricks = []  # 인스턴스 변수 선언

    def add_trick(self, trick):
        self.tricks.append(trick)  # 인스턴스 변수에 값 추가


cat1 = Cat('하늘이')
cat2 = Cat('야옹이')

cat1.add_trick('구르기')
cat2.add_trick('두발로 서기')
cat2.add_trick('죽은척 하기')

print(cat1.name, ':', cat1.tricks)
print(cat2.name, ':', cat2.tricks)

하늘이 : ['구르기']
야옹이 : ['두발로 서기', '죽은척 하기']

In [170]:
# 이름장식 Name Mangling  : __가 있는 것에 한하여 이름을 변경해 버리는 이름 장식 기법
# 변형된 규칙 : _[클래스명]__[변수명]
class KpopGroup:
    __country = 'Korea'

result = dir(KpopGroup)
print(result)

# 클래스 내부 변형변수는 정의시 사용했던 변수명으로는 접근이 불가능
# KpopGroup.__country

['_KpopGroup__country', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [171]:
num = 0
for internal_element in result:
    num += 1
    print(num, internal_element)

1 _KpopGroup__country
2 __class__
3 __delattr__
4 __dict__
5 __dir__
6 __doc__
7 __eq__
8 __format__
9 __ge__
10 __getattribute__
11 __gt__
12 __hash__
13 __init__
14 __init_subclass__
15 __le__
16 __lt__
17 __module__
18 __ne__
19 __new__
20 __reduce__
21 __reduce_ex__
22 __repr__
23 __setattr__
24 __sizeof__
25 __str__
26 __subclasshook__
27 __weakref__

In [172]:
class Animal:
    tribe = '동물'
    def __init__(self, name):
        self.name = name

    def getInfo(self):
        print('나는 %s이고, %s입니다.'%(self.name, self.tribe))

class Carnivore(Animal):
    def __init__(self, name):
        self.name = name
        self.tribe = '육식동물'

    def favoriteFood(self):
        print('나는 고기를 좋아합니다.')

class Herbivore(Animal):
    def __init__(self, name):
        self.name = name
        self.tribe = '초식동물'

    def favoriteFood(self):
        print('나는 풀을 좋아합니다.')

In [173]:
tiger = Carnivore('호랑이')
tiger.getInfo()
tiger.favoriteFood()

나는 호랑이이고, 육식동물입니다.
나는 고기를 좋아합니다.

In [174]:
rabit = Herbivore('토끼')
rabit.getInfo()
rabit.favoriteFood()

나는 토끼이고, 초식동물입니다.
나는 풀을 좋아합니다.

In [175]:
#  Developer 부모 클래스 선언
class Developer:
    def __init__(self, name):
        self.name = name

    def coding(self):
        print(self.name + ' is developer!!')


# PythonDeveloper 자식 클래스 선언
class PythonDeveloper(Developer):
    def coding(self):
        print(self.name + ' is Python developler!!')


# JavaDeveloper 자식 클래스 선언
class JavaDeveloper(Developer):
    def coding(self):
        print(self.name + ' is Java developler!!')


# CPPDeveloper 자식 클래스 선언
class CPPDeveloper(Developer):
    def coding(self):
        print(self.name + ' is C++ developler!!')

In [176]:
pd = PythonDeveloper('찬영이')
jd = JavaDeveloper('준영이')
cd = CPPDeveloper('채영이')

pd.coding()
jd.coding()
cd.coding()

찬영이 is Python developler!!
준영이 is Java developler!!
채영이 is C++ developler!!

In [178]:
# Unit 부모클래스 선언
class Unit:
    def __init__(self, name, energy, is_fly):
        self.name = name
        self.energy = energy
        self.is_fly = is_fly
        self.is_alive = True
        
    def get_tribe(self):
        print(self.name+ ' is a basic tribe!!')
        
    def get_energy(self):
        if self.energy > 0:
            print(self.name + '의 현재 에너지는 ', self.energy, '입니다!')
        else:
            self.is_alive = False
            print(self.name + ' 유닛은 전사했습니다.ㅠㅠ')
            
class Terran(Unit):
    def get_tribe(self):
        print(self.name + ' is a Terran!!')
        
    def be_attacked(self):
        self.energy -= 3
        
class Protoss(Unit):
    def get_tribe(self):
        print(self.name + ' is a Protoss!!')
        
    def be_attacked(self):
        self.energy -= 2
        
class Zerg(Unit):
    def get_tribe(self):
        print(self.name + ' is a Zerg!!')
        
    def be_attacked(self):
        self.energy -= 4

In [186]:
import time
from tqdm import tqdm_notebook

# 종족별 유닛 생성
marine = Terran('마린', 15, False)
corsair = Protoss('커세어', 20, True)
hydra = Zerg('히드라', 10, False)

for x in tqdm_notebook(range(5)):
    if x == 0:
        print('게임 시작, 유닛의 에너지는 다음과 같습니다!! \n' + '-' * 50)
        marine.get_energy()
        corsair.get_energy()
        hydra.get_energy()
        time.sleep(2)
        continue

        marine.be_attactted()
        corsair.be_attactted()
        hydra.be_attactted()

    print('\n유닛간에 %d차 공방전이 이루어졌습니다! \n' % (x) + '-' * 50)
    time.sleep(1)
    marine.get_energy();
    time.sleep(1)
    corsair.get_energy();
    time.sleep(1)
    hydra.get_energy();
    time.sleep(1)

    if (marine.is_alive & corsair.is_alive & hydra.is_alive):
            time.sleep(1)
    else:
        break

print('=' * 50, '\nGG, 게임이 종료되었습니다 !!!')

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

게임 시작, 유닛의 에너지는 다음과 같습니다!!
--------------------------------------------------
마린의 현재 에너지는  15 입니다!
커세어의 현재 에너지는  20 입니다!
히드라의 현재 에너지는  10 입니다!

유닛간에 1차 공방전이 이루어졌습니다!
--------------------------------------------------
마린의 현재 에너지는  15 입니다!
커세어의 현재 에너지는  20 입니다!
히드라의 현재 에너지는  10 입니다!

유닛간에 2차 공방전이 이루어졌습니다!
--------------------------------------------------
마린의 현재 에너지는  15 입니다!
커세어의 현재 에너지는  20 입니다!
히드라의 현재 에너지는  10 입니다!

유닛간에 3차 공방전이 이루어졌습니다!
--------------------------------------------------
마린의 현재 에너지는  15 입니다!
커세어의 현재 에너지는  20 입니다!
히드라의 현재 에너지는  10 입니다!

유닛간에 4차 공방전이 이루어졌습니다!
--------------------------------------------------
마린의 현재 에너지는  15 입니다!
커세어의 현재 에너지는  20 입니다!
히드라의 현재 에너지는  10 입니다!

==================================================
GG, 게임이 종료되었습니다 !!!